@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --max-w-container: theme('maxWidth.5xl');
    --spacing-container: theme('spacing.4');
  }

  @screen sm {
    html {
      --spacing-container: theme('spacing.6');
    }
  }

  @screen lg {
    html {
      --spacing-container: theme('spacing.8');
    }
  }

  ul.reset-prose {
    @apply list-none pl-0;
  }

  ul.reset-prose > li {
    @apply pl-0;
  }

  a:focus-visible,
  button:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-indigo-600;
  }
}
