@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-border: theme('colors.rgb.gray.200');
    --color-background: theme('colors.rgb.gray.50');
    --color-text: theme('colors.rgb.gray.700');
    --color-heading: theme('colors.rgb.gray.900');

    --color-form-background: theme('colors.rgb.white');
    --color-form-border: var(--color-border);
    --color-form-focus-border: theme('colors.rgb.encode.500');
  }

  html.decode {
    --color-form-focus-border: theme('colors.rgb.decode.500');
  }

  html.dark {
    --color-border: theme('colors.rgb.gray.800');
    --color-background: theme('colors.rgb.gray.900');
    --color-text: theme('colors.rgb.gray.200');
    --color-heading: theme('colors.rgb.gray.100');

    --color-form-background: theme('colors.rgb.gray.800');
    --color-form-border: var(--color-border);
    --color-form-focus-border: theme('colors.rgb.encode.600');
  }

  html.dark.decode {
    --color-form-focus-border: theme('colors.rgb.decode.600');
  }

  *,
  ::before,
  ::after {
    @apply border-c-border;
  }

  body {
    @apply bg-c-bg font-sans text-c-text;
  }

  #app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header'
      'main';
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-c-heading;
  }

  h1 {
    @apply text-4xl font-extrabold sm:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl font-bold sm:text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl font-semibold sm:text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-xl font-semibold sm:text-2xl lg:text-3xl;
  }

  /* ----------------- Form styles ----------------- */

  label {
    @apply mb-1 block font-medium;
  }

  textarea {
    display: block;
  }

  [type='file'] {
    appearance: none;
    cursor: pointer;
    font-size: 0;
  }

  [type='password'] {
    @apply tracking-wider;
  }

  [type='radio'] {
    @apply border-c-form-border bg-c-form-bg text-c-form-focus-border;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [type='checkbox'],
  [type='radio'] [multiple],
  textarea,
  select {
    @apply rounded-md border border-c-form-border bg-c-form-bg;
  }

  .custom-file-input {
    @apply rounded-md border-2 border-dashed border-c-form-border bg-c-form-bg;
  }

  [type='text'].error,
  [type='email'].error,
  [type='url'].error,
  [type='password'].error,
  [type='number'].error,
  [type='date'].error,
  [type='datetime-local'].error,
  [type='month'].error,
  [type='search'].error,
  [type='tel'].error,
  [type='time'].error,
  [type='week'].error,
  [type='checkbox'].error,
  [type='radio'].error,
  [type='radio'] [multiple].error,
  textarea.error,
  select.error,
  .custom-file-input.error {
    --color-form-border: theme('colors.rgb.red.300');
    --color-form-focus-border: theme('colors.rgb.red.500');
  }

  .dark [type='text'].error,
  .dark [type='email'].error,
  .dark [type='url'].error,
  .dark [type='password'].error,
  .dark [type='number'].error,
  .dark [type='date'].error,
  .dark [type='datetime-local'].error,
  .dark [type='month'].error,
  .dark [type='search'].error,
  .dark [type='tel'].error,
  .dark [type='time'].error,
  .dark [type='week'].error,
  .dark [type='checkbox'].error,
  .dark [type='radio'].error,
  .dark [type='radio'] [multiple].error,
  .dark textarea.error,
  .dark select.error,
  .dark .custom-file-input.error {
    --color-form-border: theme('colors.rgb.red.700');
    --color-form-focus-border: theme('colors.rgb.red.600');
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [type='checkbox'],
  [type='radio']:focus,
  [type='radio'] [multiple]:focus,
  textarea:focus,
  select:focus,
  .custom-file-input:focus-within {
    @apply border-c-form-focus-border outline outline-4 outline-offset-0 outline-c-form-focus-border/[.12] dark:outline-c-form-focus-border/[.35];
    box-shadow: initial;
  }
}
