@layer base {
  html {
    @apply prose prose-slate theme-encode max-w-none;
    --max-w-container: theme('maxWidth.5xl');
    --spacing-container: theme('spacing.5');
  }

  html.dark {
    @apply prose-invert theme-encode-dark;
  }

  html.decode {
    @apply theme-decode;
  }

  html.dark.decode {
    @apply theme-decode-dark;
  }

  body {
    @apply bg-fill;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header'
      'main';
  }

  @screen md {
    html {
      --spacing-container: theme('spacing.8');
    }
  }

  @screen lg {
    html {
      @apply prose-lg;
    }
  }

  html :where(h1):not(:where([class~='app-markdown'] *)) {
    @apply m-0;
  }

  html :where(a):not(:where([class~='app-markdown'] *)) {
    @apply text-inherit no-underline;
  }

  html :where(ul):not(:where([class~='app-markdown'] *)) {
    @apply m-0 list-none p-0;
  }

  html :where(ul > li):not(:where([class~='app-markdown'] *)) {
    @apply m-0 p-0;
  }

  html :where(img):not(:where([class~='app-markdown'] *)) {
    @apply m-0;
  }
}
