@layer base {
  html {
    @apply prose prose-slate theme-encode max-w-none;
  }

  html.dark {
    @apply theme-encode-dark prose-invert;
  }

  html.decode {
    @apply theme-decode;
  }

  html.dark.decode {
    @apply theme-decode-dark;
  }

  body {
    @apply bg-fill font-sans;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header'
      'main';
  }

  @screen lg {
    html {
      @apply prose-lg;
    }
  }

  html :where(h1):not(:where([class~='app-markdown'] *)) {
    @apply m-0;
  }

  html :where(a):not(:where([class~='app-markdown'] *)) {
    @apply no-underline;
  }

  html :where(ul):not(:where([class~='app-markdown'] *)) {
    @apply m-0 list-none p-0;
  }

  html :where(ul > li):not(:where([class~='app-markdown'] *)) {
    @apply m-0 p-0;
  }

  html :where(img):not(:where([class~='app-markdown'] *)) {
    @apply m-0;
  }
}
