@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter-v12-vietnamese_latin_cyrillic-regular.woff2')
      format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/inter-v12-vietnamese_latin_cyrillic-500.woff2')
      format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/inter-v12-vietnamese_latin_cyrillic-600.woff2')
      format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/inter-v12-vietnamese_latin_cyrillic-700.woff2')
      format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/inter-v12-vietnamese_latin_cyrillic-800.woff2')
      format('woff2');
  }
}
