@layer base {
  label {
    @apply mb-1 block font-medium;
  }

  textarea {
    display: block;
  }

  [type='file'] {
    appearance: none;
    cursor: pointer;
    font-size: 0;
  }

  [type='radio'] {
    @apply border-border-form-base bg-bg-form-base text-border-form-highlight;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [type='checkbox'],
  [type='radio'] [multiple],
  textarea,
  select {
    @apply rounded-md border border-border-form-base bg-bg-form-base;
  }

  .custom-file-input {
    @apply rounded-md border-2 border-dashed border-border-form-base bg-bg-form-base;
  }

  [type='text'].error,
  [type='email'].error,
  [type='url'].error,
  [type='password'].error,
  [type='number'].error,
  [type='date'].error,
  [type='datetime-local'].error,
  [type='month'].error,
  [type='search'].error,
  [type='tel'].error,
  [type='time'].error,
  [type='week'].error,
  [type='checkbox'].error,
  [type='radio'].error,
  [type='radio'] [multiple].error,
  textarea.error,
  select.error,
  .custom-file-input.error {
    --color-border-form-base: theme('colors.rgb.red.300');
    --color-border-form-highlight: var(--color-text-error);
  }

  .dark [type='text'].error,
  .dark [type='email'].error,
  .dark [type='url'].error,
  .dark [type='password'].error,
  .dark [type='number'].error,
  .dark [type='date'].error,
  .dark [type='datetime-local'].error,
  .dark [type='month'].error,
  .dark [type='search'].error,
  .dark [type='tel'].error,
  .dark [type='time'].error,
  .dark [type='week'].error,
  .dark [type='checkbox'].error,
  .dark [type='radio'].error,
  .dark [type='radio'] [multiple].error,
  .dark textarea.error,
  .dark select.error,
  .dark .custom-file-input.error {
    --color-border-form-base: theme('colors.rgb.red.600');
    --color-border-form-highlight: var(--color-text-error);
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [type='checkbox'],
  [type='radio']:focus,
  [type='radio'] [multiple]:focus,
  textarea:focus,
  select:focus,
  .custom-file-input:focus-within {
    border-color: theme('colors.border.form.highlight');
    box-shadow: 0 0 0 4px theme('colors.border.form.highlight' / 0.12);
  }

  .dark [type='text']:focus,
  .dark [type='email']:focus,
  .dark [type='url']:focus,
  .dark [type='password']:focus,
  .dark [type='number']:focus,
  .dark [type='date']:focus,
  .dark [type='datetime-local']:focus,
  .dark [type='month']:focus,
  .dark [type='search']:focus,
  .dark [type='tel']:focus,
  .dark [type='time']:focus,
  .dark [type='week']:focus,
  .dark [type='checkbox'],
  .dark [type='radio']:focus,
  .dark [type='radio'] [multiple]:focus,
  .dark textarea:focus,
  .dark select:focus,
  .dark .custom-file-input:focus-within {
    border-color: theme('colors.border.form.highlight');
    box-shadow: 0 0 0 4px theme('colors.border.form.highlight' / 0.35);
  }
}
