@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #app {
    @apply font-sans text-slate-700;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header'
      'main';
  }

  h1 {
    @apply text-4xl font-extrabold text-slate-900 sm:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl font-bold text-slate-900 sm:text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl font-semibold text-slate-900 sm:text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-xl font-semibold text-slate-900 sm:text-2xl lg:text-3xl;
  }

  form {
    &.encode {
      --form-error-text-color: theme('colors.red.500');
      --form-border-color: theme('colors.slate.300');
      --form-background-color: theme('colors.white');
      --form-focus-border-color: theme('colors.emerald.500');
      --form-focus-outline-color: theme('colors.emerald.100');
    }

    &.decode {
      --form-error-text-color: theme('colors.red.500');
      --form-border-color: theme('colors.slate.300');
      --form-background-color: theme('colors.white');
      --form-focus-border-color: theme('colors.blue.500');
      --form-focus-outline-color: theme('colors.blue.100');
    }
  }

  label {
    @apply mb-1 block font-medium;
  }

  textarea {
    display: block;
  }

  [type='file'] {
    appearance: none;
    cursor: pointer;
    font-size: 0;
  }

  [type='password'] {
    @apply tracking-wider;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [type='checkbox'],
  [type='radio'] [multiple],
  textarea,
  select {
    @apply rounded-md shadow-sm;
    background-color: var(--form-background-color);
    border-color: var(--form-border-color);
  }

  .custom-file-input {
    @apply rounded-md border-2 border-dashed shadow-sm;
    background-color: var(--form-background-color);
    border-color: var(--form-border-color);
  }

  [type='text'].error,
  [type='email'].error,
  [type='url'].error,
  [type='password'].error,
  [type='number'].error,
  [type='date'].error,
  [type='datetime-local'].error,
  [type='month'].error,
  [type='search'].error,
  [type='tel'].error,
  [type='time'].error,
  [type='week'].error,
  [type='checkbox'].error,
  [type='radio'] [multiple].error,
  textarea.error,
  select.error,
  .custom-file-input.error {
    --form-border-color: theme('colors.red.300');
    --form-focus-border-color: theme('colors.red.500');
    --form-focus-outline-color: theme('colors.red.100');
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [type='checkbox'],
  [type='radio'] [multiple]:focus,
  textarea:focus,
  select:focus,
  .custom-file-input:focus-within {
    @apply shadow-none outline outline-4 outline-offset-0 ring-0;
    border-color: var(--form-focus-border-color);
    outline-color: var(--form-focus-outline-color);
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-6xl px-4 md:px-8;
  }
}
