@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #app {
    @apply font-sans text-slate-700;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'header'
      'main';
  }

  h1 {
    @apply text-4xl font-extrabold text-slate-900 sm:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl font-bold text-slate-900 sm:text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl font-semibold text-slate-900 sm:text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-xl font-semibold text-slate-900 sm:text-2xl lg:text-3xl;
  }

  label {
    @apply mb-1 block font-medium;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [type='checkbox'],
  [type='radio'] [multiple],
  textarea,
  select,
  .custom-file-input {
    --input-focus-border-color: theme('colors.blue.500');
    --input-focus-outline-color: theme('colors.blue.100');

    @apply rounded-md border-slate-300 shadow-sm;
  }

  .decode [type='text'],
  .decode [type='email'],
  .decode [type='url'],
  .decode [type='password'],
  .decode [type='number'],
  .decode [type='date'],
  .decode [type='datetime-local'],
  .decode [type='month'],
  .decode [type='search'],
  .decode [type='tel'],
  .decode [type='time'],
  .decode [type='week'],
  .decode [type='checkbox'],
  .decode [type='radio'] [multiple],
  .decode textarea,
  .decode select,
  .decode .custom-file-input {
    --input-focus-border-color: theme('colors.pink.500');
    --input-focus-outline-color: theme('colors.pink.100');
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [type='checkbox'],
  [type='radio'] [multiple]:focus,
  textarea:focus,
  select:focus,
  .custom-file-input:focus-within {
    @apply shadow-none outline outline-4 outline-offset-0 ring-0;
    border-color: var(--input-focus-border-color);
    outline-color: var(--input-focus-outline-color);
  }
}

[type='file'] {
  appearance: none;
  cursor: pointer;
  font-size: 0;
}

@layer utilities {
  .container {
    @apply mx-auto max-w-6xl px-4 md:px-8;
  }
}
