@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
}

@layer base {
  body {
    @apply font-sans;
  }

  h1 {
    @apply text-4xl font-extrabold text-slate-900 sm:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl font-bold text-slate-900 sm:text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl font-semibold text-slate-900 sm:text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-xl font-semibold text-slate-900 sm:text-2xl lg:text-3xl;
  }
}

@layer components {
  .label {
    @apply mb-1 block font-medium;
  }

  .input {
    @apply block rounded-md border border-slate-300 bg-white p-2;

    &:focus,
    &:focus-within {
      @apply border-sky-300 outline-4 outline-offset-0 outline-sky-50;
    }
  }

  .input.error {
    @apply border-red-400;

    &:focus,
    &:focus-within {
      @apply border-red-300 ring ring-red-200 ring-opacity-50;
    }
  }
}
