@layer base {
  @font-face {
    font-family: Inter var;
    font-weight: 100 800;
    font-display: block;
    font-style: normal;
    src: url(~/assets/Inter-roman-latin.var.woff2) format('woff2');
  }

  @font-face {
    font-family: Inter var;
    font-weight: 100 800;
    font-display: block;
    font-style: italic;
    src: url(~/assets/Inter-italic-latin.var.woff2) format('woff2');
  }
}
